<h1>The RoboStore Spring App</h1>

<div class="row align-items-center">
    <div *ngFor="let name of names" class="col">
        <img [src]="uri(name)" [alt]="name" class="img-fluid">
    </div>
</div>
