<div *ngIf="robot" class="card" style="width: 30rem;">
    <img src="{{ robot.image }}" class="card-img-top" alt="{{ robot.name }}">
    <div class="card-body">
        <h5 class="card-title text-center">{{ robot.name }}</h5>
        <h5 class="card-subtitle text-center text-capitalize fst-italic">{{ robot.description }}</h5>
        <table class="table table-borderless table-sm card-text">
            <tr>
                <th>Price</th>
                <td>{{ robot.price | currency:'SEK':'kr':'1.0-0':'sv' }}</td>
            </tr>
            <tr>
                <th>Stock Count</th>
                <td>{{ robot.count }}</td>
            </tr>
            <tr>
                <th>UID</th>
                <td><code>{{ robot.uid }}</code></td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ robot.city }}, {{ robot.country }}</td>
            </tr>
        </table>
    </div>
    <div class="card-footer text-center">
        <a [routerLink]="['/edit', robot.name]" class="btn btn-primary">
            <i class="bi bi-pencil-square"></i>
            Edit
        </a>
        <button (click)="remove()" type="button" class="btn btn-danger ms-2">
            <i class="bi bi-trash-fill"></i>
            Remove
        </button>
    </div>
</div>
