<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Robo Edit</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-transparent p-1 rounded">
            <h1>Edit Robo Details</h1>

            {{#obj}}
                <div class="card" style="width: 30rem;">
                    <img src="{{ image }}" class="card-img-top" alt="{{ name }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ name }}</h5>

                        <form method="post" action="/robo/update/{{name}}">
                            <div class="mb-2">
                                <label for="price" class="form-label">Price</label>
                                <input type="number" class="form-control" id="price" name="price" value="{{ price }}" min="0" step="0.1">
                            </div>
                            <div class="mb-2">
                                <label for="count" class="form-label">Stock Count</label>
                                <input type="number" class="form-control" id="count" name="count" value="{{ count }}" min="0">
                            </div>
                            <div class="mb-2">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" value="{{ city }}" >
                            </div>
                            <div class="mb-2">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="country" name="country" value="{{ country }}" >
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success">
                                    <i class="bi bi-save-fill"></i>
                                    Save
                                </button>
                                <a href="/robo/show/{{name}}" class="btn btn-secondary">
                                    <i class="bi bi-x-square-fill"></i>
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            {{/obj}}
        </div>
    </main>
</body>
</html>
