<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            RoboStore
            <img src="https://robohash.org/three.png?size=32x32" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        <i class="bi bi-house-door-fill"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/robo/list">
                        <i class="bi bi-card-list"></i>
                        List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/robo/create">
                        <i class="bi bi-plus-square"></i>
                        Create
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/robo/summary">
                        <i class="bi bi-file-text"></i>
                        Summary
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" action="/robo/search">
                <input type="search" class="form-control me-2"
                       id="phrase" name="phrase" placeholder="Robo by Name">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
