<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Robo Show</title>
    <script defer type="module" src="/js/show.js"></script>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-transparent p-1 rounded">
            <h1>The Robo Detail</h1>

            <div id="ajax" data-name="{{ name }}" class="card" style="width: 30rem;">
                <!--AJAX-->
            </div>
        </div>
    </main>
</body>
</html>
