<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>Robo Create</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-transparent p-1 rounded">
            <h1>Create New Robo</h1>

            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <form method="post" action="/robo/save">
                        <div class="mb-2">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Name of robo" required>
                        </div>
                        <div class="mb-2">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="Description of robo" required>
                        </div>

                        <div class="mb-2">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city"
                                   placeholder="City of robo" required>
                        </div>
                        <div class="mb-2">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" name="country"
                                   placeholder="Country for its city" required>
                        </div>

                        <div class="mb-2">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price" min="0" max="500">
                        </div>
                        <div class="mb-2">
                            <label for="count" class="form-label">Stock Count</label>
                            <input type="number" class="form-control" id="count" name="count" min="0" max="10">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-save-fill"></i>
                                Create
                            </button>
                            <a href="/robo/list" class="btn btn-secondary">
                                <i class="bi bi-x-square-fill"></i>
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
