<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> bootstrap }}
    <title>The RoboStore Spring App</title>
</head>
<body>
    {{> navbar }}
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>The RoboStore Spring App</h1>

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="fst-italic">App Name</td>
                        <td>{{ app.name }}</td>
                    </tr>
                    <tr>
                        <td class="fst-italic">App Version</td>
                        <td>{{ app.version }}</td>
                    </tr>
                    <tr>
                        <td class="fst-italic">App Author</td>
                        <td>{{ app.author }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row align-items-center">
                <div class="col">
                    <img src="https://robohash.org/one.png" alt="one" class="img-fluid">
                </div>
                <div class="col">
                    <img src="https://robohash.org/two.png" alt="two" class="img-fluid">
                </div>
                <div class="col">
                    <img src="https://robohash.org/three.png" alt="three" class="img-fluid">
                </div>
            </div>

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#build}}
                        <tr>
                            <td class="fst-italic">{{ key }}</td>
                            <td>{{ val }}</td>
                        </tr>
                    {{/build}}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
